:root {
  --color-body: #222;
  --color-primary: rgba(255, 255, 255, 0.4);
  --color-secondary: rgba(255, 255, 255, 0.3);
  --color-accent: #bac964;
  --color-headings: #fff;
  --color-card: #333;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  background: var(--color-body);
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  margin-top: 0;
}

li {
  list-style: none;
}

.list {
  list-style: none;
  padding-left: 0;
}

.menu li {
  display: inline-block;
  margin-right: 3.5rem;
  font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2.5rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2rem;
  }
}

/* Links */
a {
  text-decoration: none;
  color: var(--color-secondary);
  text-align: center;
}

a:hover {
  color: var(--color-accent);
  transition: 0.5s all ease;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: capitalize;
  font-size: 2rem;
}

.link-arrow::after {
  content: ">";
  margin-left: 0.5rem;
  transition: margin 0.2s;
}

.link-arrow:hover::after {
  margin-left: 20px;
}

.link-active {
  color: var(--color-accent);
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Blocks */
.block {
  --padding-vertical: 5rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  margin-top: 0;
  margin-bottom: 5rem;
  font-size: 3rem;
  font-weight: 300;
}

.container {
  max-width: 750px;
  margin: 0 auto;
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: #fff;
}

.icon--dark {
  fill: #000;
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--2x3 {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
  }

  .grid--3x2 {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .grid--2x3 {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
  }

  .container {
    max-width: 950px;
    margin: 0 auto;
  }
}

/* Feature */
.feature {
  text-align: center;
}

.feature__title {
  font-weight: 200;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.feature__type {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 100;
}

/* Cards */
.card {
  background: var(--color-card);
  border-radius: 10px;
  padding: 3rem;
}

.card__calendar {
  color: #fff;
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.card__calendar::before {
  content: "\e979";
}

.card__header {
  color: var(--color-accent);
  margin-top: 0.5rem;
  font-size: 2rem;
  font-weight: 200;
}

.card__body {
  color: var(--color-primary);
  font-size: 1.6rem;
  margin-top: 0;
  font-weight: 300;
  line-height: 2;
}

.card__author {
  color: var(--color-secondary);
  font-size: 1.5rem;
  font-weight: 200;
}

/* Resume */
.resume__heading {
  font-weight: 200;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.card__resume {
  margin-top: 2.5rem;
}

/* Navigation Bar */
.nav {
  background: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.5rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
  font-weight: 200;
}

.nav__item {
  padding: 1.5rem 1rem;
}

.nav__item > a {
  color: #000;
  letter-spacing: 2px;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #222;
}

.nav__toggler {
  margin: 0.5rem 2rem;
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .nav {
    justify-content: center;
    background: transparent;
    padding: 2rem;
  }

  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    text-align: center;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
    padding: 2rem 2.5rem;
  }

  .nav__item > a {
    color: #fff;
    transition: color 0.3s;
  }

  .nav__item > a:hover {
    color: #fff;
  }
}

/* Hero */
.hero {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: 800px;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero__content {
  margin-top: 25rem;
  color: #fff;
  position: relative;
}

.hero__name {
  margin-bottom: 1.5rem;
  font-size: 4rem;
  font-weight: 900;
}

.hero__tagline {
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 300;
}

.hero__subtext {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .hero__name {
    margin-bottom: 1.5rem;
    font-size: 6rem;
    font-weight: 900;
  }

  .hero__tagline {
    margin-bottom: 0;
    font-size: 6rem;
    font-weight: 300;
  }
}

