<section class="block container blog">
  <header class="block__header">
    <h1 class="block__heading">Blog on <strong>Medium</strong></h1>
  </header>
  <div class="grid grid--1x3">
    <div class="card blog__card">
      <header>
        <a href="#"><img src="img/blog 1.jpg" alt="" /></a>
      </header>
      <div class="card__body blog__body">
        <a class="blog__heading" href="#"
          >Creative Product Designer From Facebook</a
        >
        <p class="blog__description">
          Even the all-powerful Pointing has no control about the blind texts it
          is an almost unorthographic.
        </p>
        <a class="blog__info" href="#"
          ><span class="fa fa-calendar"></span> Aug 7, 2018</a
        >
        <a class="blog__info" href="#"
          ><span class="fa fa-comment"></span> 5 Comments</a
        >
      </div>
    </div>
    <div class="card blog__card">
      <header>
        <a href="#"><img src="img/blog 2.jpg" alt="" /></a>
      </header>
      <div class="card__body blog__body">
        <a class="blog__heading" href="#"
          >Creative Product Designer From Facebook</a
        >
        <p class="blog__description">
          Even the all-powerful Pointing has no control about the blind texts it
          is an almost unorthographic.
        </p>
        <a class="blog__info" href="#"
          ><span class="fa fa-calendar"></span> Aug 7, 2018</a
        >
        <a class="blog__info" href="#"
          ><span class="fa fa-comment"></span> 5 Comments</a
        >
      </div>
    </div>
    <div class="card blog__card">
      <header>
        <a href="#"><img src="img/blog 3.jpg" alt="" /></a>
      </header>
      <div class="card__body blog__body">
        <a class="blog__heading" href="#"
          >Creative Product Designer From Facebook</a
        >
        <p class="blog__description">
          Even the all-powerful Pointing has no control about the blind texts it
          is an almost unorthographic.
        </p>
        <a class="blog__info" href="#"
          ><span class="fa fa-calendar"></span> Aug 7, 2018</a
        >
        <a class="blog__info" href="#"
          ><span class="fa fa-comment"></span> 5 Comments</a
        >
      </div>
    </div>
  </div>
</section>
