<section class="block container contact">
  <header class="block__header">
    <h1 class="block__heading">Get <strong>In Touch</strong></h1>
  </header>
  <div class="grid grid-1x2-contact">
    <div>
      <h2 class="contact__header">Get In Touch</h2>
      <form class="contact__form" action="#">
        <div class="form-group">
          <input type="text" placeholder="Your Name" />
          <input type="email" placeholder="Your Email" />
          <input type="text" placeholder="Your Phone" />
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="Write a Massege"
          ></textarea>
        </div>
        <a href="#" class="btn btn--accent contact__btn">Send Massege</a>
      </form>
    </div>
    <div>
      <h2 class="contact__header">My Contact Details</h2>
      <ul class="contact__list">
        <li class="contact__info">
          <span class="contact_info_title">Email</span
          ><a href="#">[email protected]</a>
        </li>
        <li class="contact__info">
          <span class="contact_info_title">Phone</span>+30 976 1382 9921
        </li>
        <li class="contact__info">
          <span class="contact_info_title">Fax</span>+30 976 1382 9922
        </li>
        <li class="contact__info">
          <span class="contact_info_title">Address</span>San Francisco, CA
          <br />
          4th Floor8 Lower
          <br />
          San Francisco street, M1 50F
        </li>
      </ul>
    </div>
  </div>
</section>
