<section class="block container">
  <header class="block__header">
    <h1 class="block__heading">My <strong>Resume</strong></h1>
  </header>
  <div class="grid grid--3x2">
    <div class="container">
      <h2 class="resume__heading">Education</h2>
      <div class="card card__resume">
        <header>
          <span class="card__calendar">
            <span> </span>
            March 2013 - Present
          </span>
          <h3 class="card__header">Masteral in Information Technology</h3>
        </header>
        <div class="card__body">
          <p>
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic.
          </p>
          <p class="card__author">New York University</p>
        </div>
      </div>
      <div class="card card__resume">
        <header>
          <span class="card__calendar">
            <span> </span>
            March 2013 - Present
          </span>
          <h3 class="card__header">Masteral in Information Technology</h3>
        </header>
        <div class="card__body">
          <p>
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic.
          </p>
          <p class="card__author">New York University</p>
        </div>
      </div>
    </div>
    <div class="container">
      <h2 class="resume__heading">Experience</h2>
      <div class="card card__resume">
        <header>
          <span class="card__calendar">
            <span> </span>
            March 2013 - Present
          </span>
          <h3 class="card__header">Masteral in Information Technology</h3>
        </header>
        <div class="card__body">
          <p>
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic.
          </p>
          <p class="card__author">New York University</p>
        </div>
      </div>
      <div class="card card__resume">
        <header>
          <span class="card__calendar">
            <span> </span>
            March 2013 - Present
          </span>
          <h3 class="card__header">Masteral in Information Technology</h3>
        </header>
        <div class="card__body">
          <p>
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic.
          </p>
          <p class="card__author">New York University</p>
        </div>
      </div>
    </div>
  </div>
</section>
